:root {
  /* variables */
  --bg: no-repeat url(../src/assets/login_background.avif);

  /* set font */
  font-family: system-ui, 'Segoe UI', Roboto, sans-serif; 

  /* set bg properties */
  background: var(--bg);
  background-size: cover;
}

body {
  margin: 0;
}